{% extends 'base.html' %}

{% block title %} Add Book {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ book_form|crispy }}

    {{ image_formset.management_form }}

    {% for form in image_formset %}
        {{ form|crispy }}
    {% endfor %}

     <button type="submit" class="btn btn-success">Add Book</button>
     <a href="{% url 'core:books_list' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}