{% extends 'base.html' %}

{% block title %} Book Details {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">{{ book.description }}</p>
    <a href="{% url 'books_list' %}" class="btn btn-info">Go Back</a>

    {% if user.is_authenticated and perms.core.delete_bookslist %}
    <a href="{% url 'change_book' book.pk %}" class='btn btn-warning'>Edit</a>
    <a href="{% url 'buy_book' book.pk %}" class='btn btn-primary'>Buy Book</a>

    <form action="{% url 'delete_book' book.pk %}" method="post">
      {% csrf_token %}
      <button class="btn btn-danger">Delete</button>
    </form>
    {% endif %}



  </div>
  <div class="card-footer text-body-secondary">
    {{ book.publishing_date }}
  </div>
  <div class="card-footer text-body-secondary">
    {{ book.create_date }}
  </div>
</div>

{% endblock %}