{% extends 'base.html' %}

{% block title %} Books {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% include 'events/paginator.html' %}
        {% for book in books %}
        <div class="card" style="width: 18rem;">
            {% if book.images.first %}
                <img src="{{ book.images.first.image.url }}" class="card-img-top" alt="...">

            {% else %}
                <img src="https://miro.medium.com/v2/resize:fit:1400/1*s_BUOauMhzRZL0dBiCExww.png" class="card-img-top"
                     alt="...">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description|slice:":150"}}</p>
                <p class="card-text"><b>Author:</b> {{ book.author }}</p>
                <p class="card-text">{{ book.publishing_date }}</p>
                <a href="{% url 'core:book_detail' book.pk %}" class="btn btn-primary">See Details</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}